* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-background-color: #000;
  /* --main-background-color: #fff; */
  --main-container-background-color: #303030;
  /* --main-container-background-color: #ededed; */
  --main-container-hover-background-color: #292929;
  /* --main-container-hover-background-color: #c7c7c7; */
  --main-color: #fff;
  /* --main-color: #000; */
  --red-color: #dc7657;
  --green-color: #77cca6;
  --yellow-color: #d9dc58;
}
/* width */
::-webkit-scrollbar {
  /* width: 10px; */
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

body {
  font-family: "Inter", sans-serif;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  background-color: aliceblue;
}

.main {
  position: relative;
  max-width: 420px;
  padding: 0rem 1rem 1rem 1rem;
  width: 100%;
  border-radius: 40px;
  margin: auto;
  aspect-ratio: 8/16;
  background-color: var(--main-background-color);
  color: var(--main-color);
  overflow-y: scroll;
  border: 4px solid silver;
}
header {
  background: var(--main-background-color);
  top: 0;
  position: sticky;
  z-index: 111;
}
.header h2 {
  padding: 2rem 1rem;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header img {
  margin: 2rem 1rem;
  border-radius: 50%;
  overflow: hidden;
  aspect-ratio: 1/1;
  max-width: 50px;
}
.createPollParent {
  /* margin-top: 2rem; */
  text-transform: capitalize;
  position: fixed;
  right: 200px;
  z-index: 11;
  bottom: 200px;
}
.createPoll {
  padding: 1rem;
  aspect-ratio: 1/1;
  height: 100%;
  width: 100%;
  display: block;
  background: var(--red-color);
  border-radius: 50%;
  text-decoration: none;
  color: var(--main-color);
}

.currentActivePolling:hover {
  background-color: var(--main-container-hover-background-color);
}
.currentActivePolling {
  transition: 0.1s background linear;
  display: flex;
  box-shadow: 2px 2px 2px rgb(128, 128, 128, 0.5);
  background-color: var(--main-container-background-color);
  color: var(--main-color);
  padding: 1rem 1.4rem;
  border-radius: 1.4rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.currentActivePolling p {
  margin: 1rem 0rem;
}
.currentActivePolling div p:first-child {
  font-size: 1.5rem;
}
.currentActivePolling i {
  padding: 1rem;
  text-decoration: none;
  color: white;
  aspect-ratio: 1/1;
  min-width: 50px;
  text-align: center;
  border-radius: 10px;
  background-color: #484848;
}

.recents {
  padding: 2rem 1rem;
}
.recents p {
  font-weight: 600;
}

.recents .polls .poll {
  position: relative;
  border-radius: 30px;
  padding: 2rem;
  margin: 1rem 0;
  text-decoration: none;
  color: white;
  background-color: var(--red-color);
  display: flex;
  flex-direction: column;
}
.recents .polls .poll.green {
  background-color: var(--green-color);
}
.recents .polls .poll.yellow {
  background-color: var(--yellow-color);
  color: #000;
}
.recents .polls .poll.red {
  background-color: var(--red-color);
}

.recents .polls .poll img {
  max-width: 30px;
  overflow: hidden;
  border-radius: 50%;
}
.recents .polls .poll > p {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 1rem;
}
.recents .polls .poll .poll-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
  width: 100%;
}
.recents .polls .poll .poll-header p {
  flex-grow: 1;
}
.recents .polls .poll .buttons {
  display: flex;
  gap: 1rem;
}
.recents .polls .poll .buttons button {
  border: 0;
  width: 100%;
  margin-top: 1rem;
  border-radius: 30px;
  color: white;
  background-color: rgb(0, 0, 0, 0.2);
  padding: 1rem;
}
