<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="login.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="main">
      <main>
        <div class="heading">
          <h1>Welcome back</h1>
          <p>please enter name and choose avatar</p>
        </div>
        <form id="form" action="/login" method="POST">
          <div class="image-con">
            <img
              id="avatarImage"
              src="/public/avatar1.jpg"
              name="avatarImage"
              alt="avatarImage"
            />
            <input id="avatar" name="avatar" type="hidden" />
            <i class="fa-solid fa-retweet swap"></i>
          </div>
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            name="username"
            autofocus
            placeholder="enter your username"
            maxlength="20"
          />
          <button class="submit" type="submit">Submit</button>
        </form>
      </main>
    </div>
    <script>
      function RandomImageRender() {
        let randomNumber = Math.random() * 10;
        const image = document.querySelector("#avatarImage");
        const avatarNameInput = document.querySelector("#avatar");
        let currentImage = image.src
          .split("/")[4]
          .split(".")[0]
          .replace(/\D/g, "");
        currentImage = Math.trunc(currentImage);
        randomNumber = Math.trunc(randomNumber);
        if (currentImage === randomNumber) {
          RandomImageRender();
        }
        if (randomNumber === 0 || randomNumber === 10) {
          randomNumber = 1;
        }
        if (image.src !== undefined) {
          image.src = `/public/avatar${randomNumber}.jpg`;
          avatarNameInput.value = `avatar${randomNumber}.jpg`;
        }
      }
      RandomImageRender();
      document.querySelector(".image-con").addEventListener("click", (e) => {
        e.preventDefault();
        RandomImageRender();
      });
    </script>
  </body>
</html>
